- name: Set system-wide wallpaper for all users
  hosts: agents
  become: yes
  become_user: root
  vars:
    wallpaper_url: "https://ledesk.ma/wp-content/uploads/2025/01/WhatsApp-Image-2025-01-28-at-14.49.14-900x600.jpeg"
    wallpaper_dest: "/usr/share/backgrounds/custom-wallpaper.jpg"

  tasks:
    - name: Ensure the backgrounds directory exists
      ansible.builtin.file:
        path: /usr/share/backgrounds
        state: directory
        mode: '0755'

    - name: Download wallpaper from URL
      ansible.builtin.get_url:
        url: "{{ wallpaper_url }}"
        dest: "{{ wallpaper_dest }}"
        mode: '0644'

    - name: Create GSettings override file for all users
      ansible.builtin.copy:
        dest: /usr/share/glib-2.0/schemas/99_custom_wallpaper.gschema.override
        content: |
          [org.gnome.desktop.background]
          picture-uri='file://{{ wallpaper_dest }}'
          picture-uri-dark='file://{{ wallpaper_dest }}'
          picture-options='zoom'
        mode: '0644'
      notify: Compile GSettings schemas

  handlers:
    - name: Compile GSettings schemas
      ansible.builtin.command: glib-compile-schemas /usr/share/glib-2.0/schemas/